body {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 20px;
    /* background: linear-gradient(to right, #3525af, #9153c9); */
    justify-content: center;
    position: relative; 

}

.image{
    opacity: 70%;
}
.form-container{
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    margin-top: 30px;
}

.name, .email, .date, .telephone, .address{
   font-size: 20px;
   padding-top: 50px;
   width: 100%;
   font-family: sans-serif;
   text-indent: 15px;
   
}

/*ukuran tabel dengan tipe text, email, date*/
input[type="text"],
input[type="email"],
input[type="date"] {
    display:block;
    box-sizing: border-box;
    margin: 20px;
    padding: 4px;
    width: 650px; 
    height: 32px;
    border: none;   
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    
}

#login-box{
    position: relative;
    margin: auto;
    height: 1000px;
    width: 700px;
    background-color: #ffffffd5; 
  
}

.btn-dark{
    text-align: center;
    width: 300px;
    ;
}
    
.form-flex{
    margin-left: 20px;
}

.btn-container{
    width: 100%;
}

.btn-center{
    margin-left: 30%;
}