  
body {
    font-family: "Poppins", sans-serif;
    color: #333;
    background-color: snow;
    margin: 0 auto;
    max-width: 1000px;

}
  
.logo{
    display: flex;
    justify-content: center;
}

.explore-btn {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 1;
}

.setting-btn{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.sign-up{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.container{
    display: grid;
    height: 100vh;
    font-size: larger;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);

  
    gap: 25px;
  
    grid-template-rows: auto auto 1fr auto auto auto;
  
    grid-template-areas: 
    "header"
    "navigation"
    "main"
    "sidebar"
    "ads"
    "footer"
  }
  
.header {
    grid-area: header;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    
  }
  
.navigation {
    display: flex;
    justify-content: space-between;
    grid-area: navigation;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    
  }
  
.ads {
    grid-area: ads;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    
  }
  
.sidebar {
    grid-area: sidebar;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    
  }
  
.main {
    grid-area: main;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    
  }
  
.footer {
    display: flex;
    justify-content: center;
    grid-area: footer;
    background-color: rgb(14, 108, 250);
    font-size: medium;
    
  }
  
  @media (min-width: 720px) {
    .container{
      grid-template-areas:
      "header header header"
      "navigation navigation navigation"
      "sidebar main main"
      "ads footer footer";
  
      grid-template-rows: auto auto 1fr auto;
  
    }
  }
  
  /*  display layar akan berubah ke tablet dan phone size jika layar <1020px*/
  @media (min-width: 1020px) {
    .container {
        grid-template-areas: 
        "header header header header"
        "sidebar navigation navigation ads"
        "sidebar main main ads"
        "footer footer footer footer";
  
        grid-template-rows: auto auto 1fr auto;
    }
  }
  